// Navigation Styles here

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border-bottom: 1.5px dashed @navigation-border;
    width: 100%;
    padding: 0 20%;
        ul{
            width:30%;
            display: flex;
            justify-content: space-between;
                li{
                    a{
                        text-decoration: none;
                        color: @font-color;
                        font-size: 1.4rem;
                    }
                }
        }
}
